# Django
SECRET_KEY=generate-with-get_random_secret_key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# PostgreSQL
DB_NAME=bangla_ocr
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

# ML model paths
ML_MODEL_PATH=../ml/bangla_ocr.h5
ML_CLASS_MAP=../ml/class_map.json