# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environment variables — NEVER commit these
.env
.env.local
.env.production

# Django
backend/media/
backend/db.sqlite3
*.log

# ML model files (too large for GitHub)
# Allow model files even if *.h5 is ignored
# !ml/bangla_ocr.h5
# !ml/class_map.json
ml/dataset/

# React
frontend/node_modules/
frontend/build/
frontend/.env

# VS Code
.vscode/
*.code-workspace

# Windows
Thumbs.db
desktop.ini